<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505243490559-h2llpuolbu63jr485782stvl0r5i7uqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505243490559-h2llpuolbu63jr485782stvl0r5i7uqf</string>
	<key>API_KEY</key>
	<string>AIzaSyChe6rmSq5wsyGD_JEze9Or6qBd-QyHCgI</string>
	<key>GCM_SENDER_ID</key>
	<string>505243490559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cat.uab.idt.RightsApp</string>
	<key>PROJECT_ID</key>
	<string>rightsappapp</string>
	<key>STORAGE_BUCKET</key>
	<string>rightsappapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505243490559:ios:05ae45cefdf9fd7b8594ca</string>
	<key>DATABASE_URL</key>
	<string>https://rightsappapp.firebaseio.com</string>
</dict>
</plist>